* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inter;
    background-color: rgb(20, 20, 20);
    padding: 24px;
}

main {
    max-width: 24rem;
    text-align: center;
    background-color: rgb(31, 31, 31);
    border-radius: 12px;
    padding: 40px 40px 24px 40px;
}

img {
    max-width: 5.5rem;
    border-radius: 999px;
    margin-bottom: 24px;
}

h1 {
    font-size: 1.5em;
    font-weight: 600;
    color: white;
    margin: 0 0 5px 0;
}

h2 {
    font-size: 0.875em;
    font-weight: 700;
    color: rgb(196, 248, 42);
    margin: 0 0 24px 0;
}

p {
    font-size: 0.875em;
    font-weight: 400;
    color: white;
    margin: 0 0 24px 0;
}

button {
    width: 100%;
    font-family: inter;
    font-size: 0.875em;
    font-weight: 700;
    color: white;
    background-color: rgb(51, 51, 51);
    border: none;
    border-radius: 8px;
    padding: 14px 0;
    margin-bottom: 16px;
    transition: 0.5s;
}

button:hover {
    color: black;
    background-color: rgb(196, 248, 42);
    cursor: pointer;
}